extends ../layouts/default
block content
    .container: .jumbotron
        img(src='/images/national.png', width='160')
        h1 Welcome
        p We are committed to make the world better place to print your things!
        hr
        p Remember to <a href='https://www.facebook.com/hkmunited' target='_blank'>Like our page on facebook</a> and
            | <a href='/keystone/signin'>sign in</a> to the system.
