<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hesk.myapplication">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="11" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pixeldemo.bannerAd"
            android:hardwareAccelerated="true">
        </activity>
        <activity
            android:name=".pixeldemo.fixedAd"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".pixeldemo.splashAd"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".pixeldemo.crazyAd"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".pixeldemo.mediaAd"
            android:hardwareAccelerated="true" />
        <!-- <activity android:name=".pixeldemo.overlayAd" android:hardwareAccelerated = "true"></activity>
         <activity android:name=".pixeldemo.preCacheAd" android:hardwareAccelerated = "true"></activity>
         <activity android:name=".pixeldemo.shareAd" android:hardwareAccelerated = "true"></activity>
 -->


    </application>

</manifest>
